:root {
	--text: #e8f3f3;
	--background: #121212;
	--background2: #212121;
	--primary: #93d2ce;
	--secondary: #f50057;
	--accent: #00bcd4;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px #212121 inset;
	transition: background-color 5000s ease-in-out 0s;
	font-family: 'Roboto';
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
}

header {
	height: 94vh;
}

header {
	width: 100%;
	margin: 0 auto;
}

article {
	width: 100%;
	/* max-width: 1200px; */
	margin: 0 auto;
	/* background-color: red; */
}

nav {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: var(--background2);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: .2s;
	z-index: 10;
	/* height: 3rem; */
}

.navbar ul {
	list-style-type: none;
	width: 100%;
	padding: 0 24px;
	max-width: 1232px;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.navbar ul li {
	border-bottom: #00bcd4 1px solid;
}

.navbar ul li a {
	display: inline-block;
	position: relative;
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
	padding: 1rem;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}

.navbar ul li a:hover::after {
  transform: scaleX(.99);
  transform-origin: bottom left;
}

#last-item {
	margin-left: auto;
}

#navbar.active {
	top: -80px;
	transition: .5s;
}

.inside {
	padding: 0 24px;
	max-width: 1232px;
	margin: 0 auto;
	box-sizing: border-box;
}


#home,
#curriculo,
#portfolio,
footer {
	color: white;
	background-color: var(--background);
}

#sobre-mim,
#habilidades,
#contato {
	color: white;
	background-color: var(--background2);
}

main {
	height: 100%;
}

#div-main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

#div-main h4 {
	font-weight: 300;
	padding-top: 3rem;
	margin-bottom: .5em;
}

#div-main h4 strong {
	font-weight: 500;
	color: var(--accent);
}

#div-main h1 {
	font-weight: 300;
	margin-bottom: 1rem;
}

#div-main p {
	color: var(--text);
	line-height: 1.66;
}

#div-main div {
	margin-top: 1.25rem;
}

button {
	text-transform: uppercase;
	padding: .8em 1.4em;
	margin-right: 1em;
	border-radius: .25em;
	font-size: .9em;
	font-weight: 500;
	font-family: 'Roboto';
	cursor: pointer;
	outline: none;
	transition: filter .33s ease-in-out;
}

button a {
	text-decoration: none;
	color: inherit
}

button:hover {
	transition: filter .2s ease-in-out;
  filter: brightness(1.2);
}

#btn-meu-trabalho {
	color: var(--background);
	background-color: var(--accent);
	border: 1px solid var(--accent);
}


#btn-contato:hover,
#btn-curriculo:hover {
	background-color: #00bbd410
}

#btn-contato {
	background-color: var(--background);
	color: var(--accent);
	border: 1px solid var(--accent);
}

#sobre-mim {
	padding: 6vh 0;
}

#sobre-mim ul {
	list-style-type: none;
	color: var(--background);
	line-height: 2;
	font-size: 1.05rem;
	color: white;
	padding-bottom: 1rem;
}

#sobre-mim ul li {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
}


#sobre-mim ul li p {
	padding: 0;
	margin: 0;
}

li i {
	margin-right: 2em;
	font-size: .8rem;
	color: var(--secondary);
}

#sobre-mim-div {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	row-gap: 5em;
}


#sobre-mim h3 {
	font-weight: 300;
}

#sobre-mim p {
	line-height: 2;
}

#sobre-mim button {
	margin: 2em 0 0 1.5em;
	background-color: transparent;
	border: 1px solid var(--accent);
	color: var(--accent);
	outline: none;
}

#sobre-mim button i {
	font-size: 1.25rem;
	padding-left: .66rem;
}

#portfolio {
	padding: 2rem 0 4rem;
}

.projeto {
	border-radius: 0.33rem;
	overflow: hidden;
	background-color: var(--background2);
	margin-top: 2rem;
	display: grid;
	/* grid-auto-rows: min-content; */
	grid-template-rows: min-content min-content 1fr;
}

.projeto-imagem {
	/* position: relative; */
  transition: filter 0.3s ease;
}

.projeto-imagem:hover {
  filter: brightness(0.6);
	cursor: pointer;
}

.projeto .projeto-imagem img {
	width: 100%;
	z-index: 1;
}


.projeto-info {
	background-color: var(--background2);
	padding: .8rem 1.33rem 1.33rem;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
}

.projeto-info h4 {
	font-size: 1.1rem;
}

.projeto-info > p {
	padding-top: 1rem;
	font-size: .9rem;
	line-height: 1.5;
}

.projeto-info ul {
	font-size: 1rem;
	line-height: 2;
	padding: .5rem 0 1rem 0;
}

.project-detail {
	display: flex;
	align-items: center;
}

.projeto-info ul li {
	font-size: .9rem;
	margin: .5rem 0;
}



.projeto .projeto-info .tecnologias {
	display: flex;
	gap: .4rem;
	padding: 0;
	flex-wrap: wrap;
	margin-top: 0;
}

.projeto .projeto-info .tecnologias li {
	border: 1px solid var(--text);
	border-radius: 1rem;
	font-size: .7rem;
	padding: .1rem .6rem;
	transition: .5s;
	margin: 0 0 .4rem 0;
}


.projeto .projeto-info .tecnologias li:hover {
	background-color: var(--secondary);
	transition: .2s;
}

.links {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-bottom: auto;
	margin: 0 1.33rem 1.33rem;
}

.links a{
	text-decoration: none;
	color: white;
}

.github,
.external {
	height: 1rem;
	margin: 0 1rem 0 0;
	padding: .5rem .8rem;
	border: 1px solid white;
	border-radius: 100px;
	font-size: .9rem;
	display: block;
	font-weight: 600;
	transition: .33s;
}


.github:hover,
.external:hover {
	cursor: pointer;
	background-color: var(--accent);
	color: var(--background2);
	border-color: var(--background);
	transition: .2s;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.github i,
.external i {
	padding-right: .6rem;
	font-size: .9rem;
}

#contato-inside {
	max-width: 560px;
}

#contato {
	padding: 2rem 0 3rem;
	width: 100%;
}

#contato-h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem !important;
}

.vinicius-zanchetta-photo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vinicius-zanchetta-photo > img {
	width: 96px;
	height: 96px;
	border-radius: 100%;
}


#contato-info {
	max-width: 520px;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	line-height: 1.75;
	display: flex;
	flex-direction: column;
	/* padding: 1rem 0; */
	border-radius: .25em;
	font-size: .9rem;
}

#contato-info > p {
	margin: 0 1rem;
}

#contato-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	width: 100%;
	border-top: 1px solid var(--text);
}

#contato-links > span:nth-child(1) {
	margin-top: 1rem;
}	

#contato-links > span:nth-child(2) {
	margin-top: 1rem;
}	

#redes-sociais {
	display: flex;
	gap: 1.5rem;
	font-size: 1.5rem;
	box-sizing: border-box;
}

#redes-sociais a {
	display: flex;
	cursor: pointer;
	height: 1em;
	color: var(--text);
	text-decoration: none;
	transition: .4s;
} 


#redes-sociais a:hover {
	color: var(--accent);
	transition: .2s;
} 

#contato .inside h2 {
	text-align: center;
	margin-bottom: 1rem;
}

#contato .inside h3 {
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

#contato .inside form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#contato .inside form input,
#contato .inside form textarea {
	background-color: var(--background2);
	border: 1px solid #96a0a0;
	outline: var(--accent);
	height: 3rem;
	padding: .5rem 1rem;
	margin-bottom: 1.5rem;
	box-sizing: border-box;
	border-radius: .25em;
	color: white;
	max-width: 520px;
	width: 100%;
	font-size: 1.05rem;
	font-family: 'Roboto';
	font-weight: 400;
	transition: .2s;
}

#contato .inside form input:hover,
#contato .inside form textarea:hover {
	transition: .2s;
	border: 1px solid white;
	color: white;
	/* border-color: var(--text); */
}

#contato .inside form textarea {
	height: 6rem;
	padding-top: .8rem;
	resize: none;
}

#contato .inside form input[type="submit"] {
	text-transform: uppercase;
	padding: .8em 1.4em;
	border-radius: .25em;
	margin-bottom: 0;
	font-size: .9em;
	font-weight: 500;
	font-family: 'Roboto';
	cursor: pointer;
	outline: none;
	background-color: var(--background2);
	color: var(--accent);
	border: 1px solid var(--accent);
	outline: none;
}

#contato .inside form input:focus,
#contato .inside form textarea:focus {
	border-color: var(--accent);
}

#contato .inside form input[type="submit"]:focus,
#contato .inside form input[type="submit"]:hover {
	background-color: var(--accent);
	color: var(--background2)
}

#contato .inside form input:focus::placeholder,
#contato .inside form textarea:focus::placeholder {
	color: var(--accent);
}

::placeholder {
	color: var(--text);
	opacity: 1;
	/* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: var(--text);
}



footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 10rem;
}

footer button {
	padding: 0;
	margin: 2rem 0;
	border: none;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 100%;
	background-color: var(--secondary);

}

footer a i {
	font-size: 1.2rem;
	padding-top: 0.08rem;
	color: white;
}

footer h5 {
	font-weight: 400;

	font-family: "Montserrat", sans-serif;
}


@media (max-width: 480px) {
	.links {
		gap: 1rem;
	}
}

@media (min-width: 700px) {
	#sobre-mim ul li:nth-child(3) {
		padding-bottom: 0;
	}

	#portfolio .inside .projetos {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.projeto {
		margin-right: 1em;
	}

	#hamburguer {
		display: none;
	}

	#nav-sobre-mim, #nav-portfolio, #nav-contato {
		display: inline-block;
	}
}

@media (max-width: 1200px) {
	.inside {
		width: 96%;
		padding: 0 12px;
	}

	#sobre-mim-div {
		grid-template-columns: 1fr;
		row-gap: 0;
	}

	#sobre-mim-div h2 {
		padding-top: 0;
		margin-top: 0;
	}

	#sobre-mim-div h2,
	#sobre-mim-div ul,
	#sobre-mim-div button,
	#sobre-mim-div p {
		margin-bottom: 2rem;
	}
}


@media (min-width: 1228px) {
	#sobre-mim-div ul {
		padding: 0;
	}

	#portfolio .inside .projetos {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}


	.projeto .projeto-imagem {
		display: flex;
	}
}


@media (max-width: 700px) {
	#navbar ul {
		flex-direction: column;
		align-items: flex-start;
	}

	#navbar ul li {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
	}

	#navbar ul li a {
		padding-right: 50%;
	}
	
	#navbar ul li:hover {
		border-bottom-width: 2px;
	}

	.navbar ul li a::after {
		content: '';
		position: absolute;
		width: 0;
	}

	#hamburguer {
		font-size: 1.2rem;
		cursor: pointer;
		margin-right: 0;
		padding: 1rem;
		transition: .5s;
		color: white;
	}

	
	#hamburguer.rotate {
		transform: rotate(90deg);
		transition: .5s;
		color: var(--accent)
	}  

	#navbar ul li:nth-child(2),
	#navbar ul li:nth-child(3),
	#navbar ul li:nth-child(4) {
		display: none;
	}

	#navbar.active {
		top: -160px;
		transition: .5s;
	}

	#div-main > div > button{
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 3.25rem;
	}

	#div-main p {
		font-size: 1.25rem;
		padding-right: 1rem;
	}

	#div-main div {
		margin-top: 2rem;
	}

	#div-main button {
		width: 100%;
		font-size: 1rem;
	}

	#div-main #btn-meu-trabalho,
	#div-main #btn-contato {
		margin-bottom: 1.25rem;
	}

	#contato .inside h2 {
		margin-bottom: 1rem;
	}
	
	#contato .inside h3 {
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 2rem;
	}

	#sobre-mim-div > div {
		padding-bottom: 1rem;
	}

	#sobre-mim-div > p {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem !important;
	}
}